/* Define the regular weight */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

/* Define the bold weight */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}